<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>SEC 13F Comparison</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="app.css">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
  <script src='https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js'></script>
  <script type="text/javascript" src="app.js"></script>
  <script type="text/javascript" src="validator.js"></script>
</head>
<body>
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/">Welcome!</a>
  </nav>

  <div class="row no-gutters">
    <div class="col-9">
      <div class="container my-5">
        <div class="mx-auto">
            <h5>
                Please enter the URLs (.xml) of the 13F fillings you want to compare:
            </h5>
        </div>
        <br>
        <form action="/compare" method="POST">
          <div class="row">
            <div class="col-md-auto">
              13F A (OLD)
            </div>
            <div class="col-8">
                <input class="form-control" id="oldurl" name="oldurl" placeholder="Enter URL (.xml)">
                <small class="form-text text-muted">You should be able to find the URL from the SEC website.</small>
            </div>
            <div>
              <span>
                <i id="okOld" class="fa fa-check-circle fa-2x"></i>
                <span>&nbsp;</span>
                <i id="clearOld" class="fa fa-trash fa-2x"></i>
              </span>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-md-auto">
              13F B (NEW)
            </div>
            <div class="col-8">
                <input class="form-control" id="newurl" name="newurl" placeholder="Enter URL (.xml)">
                <small class="form-text text-muted">You should be able to find the URL from the SEC website.</small>
            </div>
            <div>
              <span>
                <i id="okNew" class="fa fa-check-circle fa-2x"></i>
                <span>&nbsp;</span>
                <i id="clearNew" class="fa fa-trash fa-2x"></i>
              </span>
            </div>
          </div>
          <br/>
          <div class="row">
            <div class="col-12 text-center">
                <button id='compareButton' type="submit" class="btn btn-success">Compare</button>
            </div>
          </div>
        </form>
      </div>
    
      <div class='mx-5'>
        <table id='resultTable' class="table table-striped table-bordered table-hover table-sm invisible">
          <thead class="thead-light">
            <tr>
              <th scope="col">Company Name</th>
              <th scope="col">CUSIP</th>
              <th scope="col">Old Shares</th>
              <th scope="col">Old Value</th>
              <th scope="col">New Shares</th>
              <th scope="col">New Value</th>
              <th scope="col">Share Change</th>
              <th scope="col">Note</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr>
              <td>A</td>
              <td>B</td>
              <td>C</td>
              <td>D</td>
              <td>E</td>
              <td>F</td>
              <td>G</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-3 mt-2">
      <div class="bg-light pb-5">
        <p class="text-center">External links</p>
        <ul>
          <li>
            <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000813917&owner=exclude&count=40" target="_blank">Harris Fillings</a>
          </li>
          <li>
            <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000728014&owner=exclude&count=40" target="_blank">Ruane Cunniff Fillings</a>
          </li>
          <li>
            <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001538449&owner=exclude&count=40" target="_blank">Mawer Fillings</a>
          </li>
          <li>
            <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0001067983&owner=exclude&count=40" target="_blank">Berkshire Fillings</a>
          </li>
          <li>
            <a href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=0000915191&owner=exclude&count=40" target="_blank">Fairfax Fillings</a>
          </li>
          <li>
            <a href="https://www.sec.gov/edgar/searchedgar/companysearch.html" target="_blank">SEC Search Page</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  
</body>
</html>